In [1]:
import pandas as pd

hotel = pd.read_csv('./hotel.csv')
pension = pd.read_csv('./pension.csv')

In [10]:
pd.set_option('display.max_seq_items', None) # 생략없이 출력하기

In [22]:
# 호텔 이름 정보
names = list(hotel.name.unique())

In [18]:
location = ['동구', '부산진구', '부산진구', '기장군', '서구', '해운대구', '해운대구', '해운대구', '수영구', '부산진구', '중구', '동래구',\
    '연제구', '해운대구', '해운대구', '해운대구', '사하구', '해운대구', '영도구', '해운대구', '해운대구', '해운대구', '해운대구', '기장군', '해운대구', '수영구',\
    '중구', '부산진구', '해운대구', '해운대구', '기장군', '영도구', '해운대구', '서구', '동구', '중구', '부산진구', '부산진구', '해운대구', '수영구', '동구',\
    '동구', '중구', '기장군', '해운대구', '해운대구', '해운대구', '연제구', '수영구', '중구', '북구', '해운대구', '기장군', '해운대구', '부산진구', '해운대구', '해운대구', \
    '영도구', '중구', '영도구', '기장군', '해운대구', '기장군', '해운대구', '해운대구', '연제구', '해운대구', '부산진구', '동래', '중구', '수영구', '중구',\
    '수영구', '사상구', '부산진구', '동구', '수영구', '해운대구', '수영구', '해운대구', '해운대구', '해운대구', '부산진구', '중구', '중구', '강서구', '부산진구',\
    '서구', '수영구', '서구', '해운대구', '동구', '기장군', '중구', '동구', '강서구', '부산진구', '기장군', '동구', '중구', '북구', '사상구', '강서구', '해운대구',\
    '수영구', '중구', '사상구', '동구', '해운대구', '사상구', '중구', '부산진구', '서구', '강서구', '중구', '해운대구', '수영구', '해운대구', '중구', '북구', '동구', '부산진구',\
    '부산진구', '부산진구', '해운대구', '사상구', '부산진구', '수영구', '부산진구', '동구', '해운대구', '동구', '북구', '기장군', '중구', '강서구', '해운대구', '중구',\
    '동래구', '해운대구', '북구', '해운대구', '동구', '해운대구', '해운대구', '기장군', '부산진구', '부산진구', '부산진구', '중구', '해운대구', '영도구', '해운대구', '중구',\
    '연제구', '동구', '부산진구', '해운대구', '수영구']
len(location), len(names)

(159, 159)

In [20]:
ht_name_dict = dict(zip(names, location))

In [33]:
def locating(row):
    return ht_name_dict[row]
hotel['location'] = hotel.name.apply(locating)

hotel.head()

,date,name,star,img,lowest_price,link,location
0,2023-08-01,라마다 앙코르 바이 윈덤 부산역,8.4,https://search.pstatic.net/common/?src=https:/...,143550,https://hotels.naver.com/item?hotelFileName=ho...,동구
1,2023-08-01,티티호텔,8.5,https://search.pstatic.net/common/?src=https:/...,103097,https://hotels.naver.com/item?hotelFileName=ho...,부산진구
2,2023-08-01,부산 비즈니스 호텔,8.6,https://search.pstatic.net/common/?src=https:/...,92936,https://hotels.naver.com/item?hotelFileName=ho...,부산진구
3,2023-08-01,아난티 힐튼 부산,8.6,https://search.pstatic.net/common/?src=https:/...,729628,https://hotels.naver.com/item?hotelFileName=ho...,기장군
4,2023-08-01,그랩 디 오션 송도,8.2,https://search.pstatic.net/common/?src=https:/...,158400,https://hotels.naver.com/item?hotelFileName=ho...,서구

In [31]:
ps_names = pension.name.unique()
ps_names

array(['더펜션 502', '일광 라고마르 펜션', '해오름펜션', '에스스테이펜션', '부산 비엔비 펜션 & 패밀리 호텔',
       '그레이샌즈 풀빌라 펜션', '브라운도트펜션', '드림하우스', '알로하펜션', '오시리아펜션', '알리바바펜션',
       '오투펜션', 'J&J 펜션', '가온펜션', '펜션 채움', '펜션드리머', '고운학리펜션', '앙스모멍 펜션',
       '이너피스 펜션', '부산 아라하우스 펜션', '반딧불이 펜션', '시랑리 129 펜션', '서랑펜션', '다란향',
       '송정로뎀나무펜션'], dtype=object)

In [32]:
ps_location = ['기장군', '기장군', '기장군', '해운대구', '중구', '해운대구', '기장군', '기장군', '기장군', '기장군', '해운대구', '기장군', '기장군',\
    '기장군', '기장군', '기장군', '기장군', '해운대구', '해운대구', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군']
ps_name_dict = dict(zip(ps_names, ps_location))
def locating(row):
    return ps_name_dict[row]
pension['location'] = pension.name.apply(locating)
pension.head()

,date,name,star,img,lowest_price,link,location
0,2023-08-01,더펜션 502,9.0,https://search.pstatic.net/common/?src=https:/...,308000,https://hotels.naver.com/item?hotelFileName=ho...,기장군
1,2023-08-01,일광 라고마르 펜션,-1.0,https://search.pstatic.net/common/?src=https:/...,330000,https://hotels.naver.com/item?hotelFileName=ho...,기장군
2,2023-08-01,해오름펜션,9.6,https://search.pstatic.net/common/?src=https:/...,241979,https://hotels.naver.com/item?hotelFileName=ho...,기장군
3,2023-08-01,에스스테이펜션,-1.0,https://search.pstatic.net/common/?src=https:/...,183924,https://hotels.naver.com/item?hotelFileName=ho...,해운대구
4,2023-08-01,부산 비엔비 펜션 & 패밀리 호텔,8.0,https://search.pstatic.net/common/?src=https:/...,77104,https://hotels.naver.com/item?hotelFileName=ho...,중구

In [40]:
# hotel, pension에 각각 숙소 유형 추가
hotel['type'] = '0'
pension['type'] = '1'

In [36]:
hotel.columns == pension.columns

array([ True,  True,  True,  True,  True,  True,  True,  True])

In [48]:
hotel.date = hotel.date.astype('datetime64[ns]')

In [43]:
pension.date = pension.date.astype('datetime64[ns]')
pension.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783 entries, 0 to 782
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          783 non-null    datetime64[ns]
 1   name          783 non-null    object
 2   star          783 non-null    float64
 3   img           783 non-null    object
 4   lowest_price  783 non-null    int64
 5   link          783 non-null    object
 6   location      783 non-null    object
 7   type          783 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 49.1+ KB

In [49]:
accomadation = pd.concat([hotel, pension], ignore_index=True)
accomadation.head()

,date,name,star,img,lowest_price,link,location,type
0,2023-08-01,라마다 앙코르 바이 윈덤 부산역,8.4,https://search.pstatic.net/common/?src=https:/...,143550,https://hotels.naver.com/item?hotelFileName=ho...,동구,0
1,2023-08-01,티티호텔,8.5,https://search.pstatic.net/common/?src=https:/...,103097,https://hotels.naver.com/item?hotelFileName=ho...,부산진구,0
2,2023-08-01,부산 비즈니스 호텔,8.6,https://search.pstatic.net/common/?src=https:/...,92936,https://hotels.naver.com/item?hotelFileName=ho...,부산진구,0
3,2023-08-01,아난티 힐튼 부산,8.6,https://search.pstatic.net/common/?src=https:/...,729628,https://hotels.naver.com/item?hotelFileName=ho...,기장군,0
4,2023-08-01,그랩 디 오션 송도,8.2,https://search.pstatic.net/common/?src=https:/...,158400,https://hotels.naver.com/item?hotelFileName=ho...,서구,0

In [50]:
accomadation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          4983 non-null   datetime64[ns]
 1   name          4983 non-null   object
 2   star          4983 non-null   float64
 3   img           4983 non-null   object
 4   lowest_price  4983 non-null   int64
 5   link          4983 non-null   object
 6   location      4983 non-null   object
 7   type          4983 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 311.6+ KB

In [51]:
accomadation.to_csv('accomadation.csv', index=False)